@mixin generateRelativeView($max-view: 6) {
    @for $i from 1 through $max-view {
        .h--#{$i}-#{$max-view} {
            height: calc(100%/$max-view);
        }
    
        .w--#{$i}-#{$max-view} {
            width: calc(100%/$max-view);
        }
    }
}

//relativeView
//max view 6
@include generateRelativeView(6);
//max view 12
@include generateRelativeView(12);

@for $i from 0 through 99 {
    //margins
    //margin
    .m--#{$i} {
        margin: ($base-margin * $i);
    }

    //margin-left
    .ml--#{$i} {
        margin-left: ($base-margin * $i);
    } 

    //margin--right
    .mr--#{$i} {
        margin-right: ($base-margin * $i);
    }

    //margin-left & margin-right
    .mx--#{$i} {
        margin-right: ($base-margin * $i);
        margin-left: ($base-margin * $i);
    }

    //margin--top
    .mt--#{$i} {
        margin-top: ($base-margin * $i);
    }

    //margin-bottom
    .mb--#{$i} {
        margin-bottom: ($base-margin * $i);
    }

    //margin-top & margin-bottom
    .my--#{$i} {
        margin-top: ($base-margin * $i);
        margin-bottom: ($base-margin * $i);
    }

    //paddings
    .p--#{$i} {
        padding: $base-padding * $i;
    }

    //padding-left
    .pl--#{$i} {
        padding-left: $base-padding * $i;
    }

    //padding-right
    .pr--#{$i} {
        padding-right: $base-padding  * $i;
    }

    //padding-right & padding-left
    .px--#{$i} {
        padding-right: $base-padding * $i;
        padding-left: $base-padding * $i;
    }

    //padding top
    .pt--#{$i} {
        padding-top: $base-padding * $i;
    }

    //padding bottom
    .pb--#{$i} {
        padding-bottom: $base-padding * $i;
    }

    //padding-bottom & padding-top
    .py--#{$i} {
        padding-top: $base-padding * $i;
        padding-bottom: $base-padding * $i;
    }

    //height
    .h--#{$i} {
        height: $base-height * $i;
    }

    //min-height
    .min--h--#{$i} {
        min-height: $base-height * $i;
    }

    //min-width
    .min--w--#{$i} {
        min-width: $base-width * $i;
    }

    //width
    .w--#{$i} {
        width: $base-width * $i;
    }
}

//static utilities class

//heights
.h--full {
    height: 100%;
}

.h--screen {
    height: 100vh;
}

//widths
.w--full {
    width: 100%;
}

.w--screen {
    width: 100vw;
}

//displays

//display flex
.d--flex {
    display: flex;
}

//display block
.d-block {
    display: block;
}

//display grid
.d-grid {
    display: grid;
}